<% @parks.each do |park| %>
<h2> Park Name: <%= park.full_name %></h2>
<p> Description: <%= park.description %> </p>
<p> Directions: <%= park.directions %> </p>
<p> Hours: <%= park.hours %> </p>
<% end %>